<section class="container" id="contact">
    <h1>Vamos conversar sobre o seu projeto?</h1>
    <p>Pensou em algo interessante? Entre em contato e vamos conversar.</p>

    <div class="buttons">
        <app-button type="envelope-at" label="Email"></app-button>
        <app-button type="whatsapp" label="WhatsApp"></app-button>
        <app-button type="linkedin" label="LinkedIn"></app-button>
    </div>
</section>


<footer>
    <p>Feito com <i class="bi bi-heart-fill"></i> por <a href="#">Gabriel Dias</a></p>
</footer>
