@media screen and (min-device-width: 1025px) {
    .container {
        margin: 5em 0;
    }

    h1 {
        font-size: 2.5em;
        margin: 1em;
    }

    p {
        font-size: 1.5em;
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
        margin: 4em 2em;
    }

    footer {
        padding: 4em;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) { 
    .container {
        margin: 5em 0;
    }

    h1 {
        font-size: 2.5em;
        margin: 1em;
    }

    p {
        font-size: 1.5em;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin: 4em 2em;
        gap: 1.5em;
    }

    footer {
        padding: 4em;
    }
}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    .container {
        margin: 5em 0;
    }

    h1 {
        font-size: 2.5em;
        margin: 1em;
    }

    p {
        font-size: 1.5em;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin: 4em 2em;
        gap: 1.5em;
    }

    footer {
        padding: 4em;
    }
}

@media screen and (min-device-width: 376px) and (max-device-width: 425px) {
    .container {
        margin: 2em;
    }

    h1 {
        font-size: 2em;
        margin: 0.5em;
    }

    p {
        font-size: 1em;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        margin: 2em;
    }

    footer {
        padding: 4em;
    }
}

@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
    .container {
        margin: 4em;
    }

    h1 {
        font-size: 1.5em;
        line-height: 1em;
    }

    p {
        margin: 2em 0 2em 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 1em;
        margin: 1em;
    }

    .buttons>app-button {
        display: flex;
        justify-content: center;
    }

    footer {
        padding: 0.1em;
    }
}

@media screen and (max-device-width: 320px) {
    .container {
        margin: 3em
    }

    h1 {
        font-size: 1.5em;
        line-height: 1em;
    }

    p {
        margin: 2em 0 2em 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 1em;
        margin: 1em;
    }

    .buttons>app-button {
        display: flex;
        justify-content: center;
    }

    footer {
        padding: 0.1em;
    }
}

/* Global Styles */
footer {
    background: linear-gradient(to right, #091879, #00D4FF);
    color: #FFF;
}

footer>p>i {
    color: #ff0000;
}

footer>p>a {
    text-decoration: none;
    color: #FFF
}

h1, p {
    text-align: center;
}
