<section class="container" id="contact">
    <h1>Vamos conversar sobre o seu projeto?</h1>
    <p>Pensou em algo interessante? Entre em contato e vamos conversar.</p>

    <div class="buttons">
        <button>
            <i class="bi bi-envelope-at"></i>
            <p>Email</p>
        </button>
        <button>
            <i class="bi bi-whatsapp"></i>
            <p>WhatsApp</p>
        </button>
        <button>
            <i class="bi bi-linkedin"></i>
            <p>LinkedIn</p>
        </button>
    </div>
</section>


<footer>
    <p>Feito com <i class="bi bi-heart-fill"></i> por <a href="#">Gabriel Dias</a></p>
</footer>
