<section class="container">
    <div class="content">
        <div class="text">
            <h1>Olá, meu nome é Gabriel.</h1>
            <p>E serei seu próximo desenvolvedor frontend!</p>
        </div>

        <div class="buttons">
            <button (click)="redirect('github')">
                <i class="bi bi-github"></i>
                <p>Github</p>
            </button>
            <button (click)="redirect('linkedin')">
                <i class="bi bi-linkedin"></i>
                <p>LinkedIn</p>
            </button>
        </div>
    </div>

    <img src="../../assets/illustration.svg" alt="">
</section>